{% extends "import.html" %} {% block content %}

<h2>Masukkan Gambar Daun Pisang</h2>
<style> footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 15px;
   font-weight: bold;
}
 
 </style>

<div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="prediksi" id="btn-predict">Prediksi</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <p id="result">
        <br>
    </p>
    
    <footer >
        SITI HAJAR HAMZAH_105841103419 
    </footer>


</div>

{% endblock %}